{% extends "base.html.jinja" %}

{% block content %}

<div class="page">

{% if title %}
<h1 class="page-title">
  <a href="{{ link }}">{{ title }}</a>
</h1>
{% endif %}

{{ stuff }}

</div>


{% endblock content %}
