<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://davidlowryduda.com">
        <h1>David <br /> Lowry-Duda</h1>
      </a>
      <p class="lead">
        Mathematician and Computer Scientist
      </p>
    </div>

    <ul class="sidebar-nav">
        <li><a href="index.html">Main Page</a></li>
        <li><a href="research.html">Research</a></li>
        <li><a href="teaching.html">Teaching</a></li>
        <li><a href="programming.html">Programming</a></li>
    </ul>
    <br>
    <p> I blog at <a href="https://davidlowryduda.com">davidlowryduda.com</a>.</p>

    <!-- TODO get good icons and put things here -->
    <div class="icons">
        <a href="https://github.com/davidlowryduda"><i class="fa fa-github fa-lg icon"></i></a>
        <a href="https://twitter.com/davidlowryduda"><i class="fa fa-twitter fa-lg icon"></i></a>
    </div>
    <br>
    <p>(c) 2020 David Lowry-Duda</p>
  </div>
</div>
